body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: linear-gradient(#4a55a2, #7895cb, #24243e);
    justify-content: center;
    align-items: center;
    text-align: center;
}
